{% extends "base.html" %}

{% block title %}Check Attendance{% endblock %}

{% block content %}
    <h2>Check Attendance</h2>
    <form method="post">
        <label for="attending_list">Attending List (paste emails separated by spaces):</label><br>
        <textarea id="attending_list" name="attending_list" rows="10" cols="50"></textarea><br><br>
        <input type="submit" value="Check Attendance" class="btn btn-warning">
    </form>
    {% if not_attended is not none %}
        <h3>List of those who haven't attended:</h3>
        <ul>
            {% for email in not_attended %}
                <li>{{ email }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
